html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

img {
  border-style: none;
  vertical-align: top;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/montserrat-v25-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/montserrat-v25-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/montserrat-v25-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/montserrat-v25-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/montserrat-v25-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/montserrat-v25-cyrillic_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

:root {
  --color-active: #8a37cd;
  --color-title: #4d1977;
  --color-primary: #180725;
}


html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
}

h1 {
  font-size: 3.2rem;
  margin: 0.67em 0;
  font-weight: 700;
  color: var(--color-title);
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main {
  max-width: 1710px;
  margin: 0 auto;
  padding: 5vh 7.5vw;
}

.accord {}

.accord-item {}

.item-wrapper {}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-top: 1px solid #b995f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  color: var(--color-primary);
  transition: color 0.7s ease;
}
.item-text {
  margin-right: 30px;
}

.item-content {
  max-height: 0;
  margin-bottom: 35px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s ease;
  /* transition: max-height 0.7s ease, transform 0.7s ease, opacity 0.9s ease; */
}

.item-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.item-icon {
  flex-shrink: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(assets/svg/down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

input[type="radio"]:checked+.item-wrapper>.item-title {
  color: var(--color-active);
}

input[type="radio"]:checked+.item-wrapper>.item-content {
  max-height: 100vh;
  transform: scale(1);
  opacity: 1;
}

input[type="radio"]:checked+.item-wrapper>.item-title>.item-icon {
  background-image: url(assets/svg/xmark.svg);
}

/*Media*/

@media (min-width: 321px) and (hover: hover) and (pointer: fine) {
  .item-wrapper {
    cursor: pointer;
  }

  .accord-item:hover .item-content {
    max-height: 100vh;
    transform: scale(1);
    opacity: 1;
  }

  .item-icon {
    opacity: 0;
  }

  .accord:hover .item-icon {
    opacity: 1;
  }

  input[type="radio"]:checked+.item-wrapper>.item-title {
    color: var(--color-active);
  }

  input[type="radio"]:active+.item-wrapper>.item-title {
    color: var(--color-active);
  }

  input[type="radio"]:active+.item-wrapper>.item-content {
    opacity: 0.5;
  }

  .accord:hover input[type="radio"]:checked+.item-wrapper>.item-title {
    color: var(--color-primary);
  }
}

@media (min-width: 820px) {
  h1 {
    font-size: 4.0rem;
  }
  .item-title {
    font-size: 2.2rem;
  }
  .item-content {
    padding: 0 10vw;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 4.5rem;
  }
  .item-title {
    font-size: 2.8rem;
  }
}
